<%= erb :nav_signin %>

<div class="container">

<div class="sharesong">
  <form method="get" action="/tracks/new">
    <button type="submit" class="btn btn-default">Share a song</button>
  </form>
</div>


<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"><%= track.song_title %></a> <small>(by: <%= track.author %>)</small></h3>
    <p>
      <%= track.url %>
    </p>
  </div>
<% end %>

<a href="/tracks/new">Post a song... It's FREE and SUPER fun!</a>
